
.List
{
    text-align: center;
    overflow: hidden;
    color: #fffffff2;
    background:url(../../../../Image/BackGround/back.jpg);
    padding: 1% 1%;
    position: relative;
    width: 100%;
   
}
.Button
{

    font-size: 200%; 
    width: 25%;
    padding: 2%;
}
.Button:hover
{
    color:#5494B5;
}