.Card {
    width: 100%;  
    padding: 1%;
    
    background:url(../../../../Image/BackGround/back.jpg);
    display: grid;
    grid-template-areas: 
    "brand model";
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
}



/* Поля (input или dropdown) */
.Field {
    margin: 1%;
}


/* Стиль для выпадающих списков (dropdown) */
.DropList {
    width: 100%;
    border-radius: 4px;
    padding: 2%;
    background-color: #fff;
    
}

/* Фон для выпадающих опций */
.p-dropdown-panel {
    background-color: #c2c2c2; /* Светлый фон для списка */
    border-radius: 4px;
}

/* Стиль для каждой опции в списке */
.p-dropdown-item {
    padding: 2%;
    width: 30%;  
    font-size: 100%;
    color: #333;
}

/* Стиль для каждой опции при наведении */
.p-dropdown-item:hover 
{
    border-radius: 10px;
    background-color: #007bff; 
    color: #fff;
}

/* Фокус на элементах выпадающего списка */
.p-dropdown-item:focus 
{
    border-radius: 10px;
    background-color: #0056b3;
    color: #fff;
    outline: none;
}

/* Кнопка */
button {
    width: 40%;
    background-color: #007bff;
    color: white;
    border: none;

}

/* Кнопка при наведении */
button:hover {
    background-color: #0056b3;
}

/* Вывод информации */
.selected-info {
    width: 40%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e7f7ff;
    border-radius: 4px;
    font-size: 1rem;
    color: #0056b3;
    border: 1px solid #007bff;
}